*{
    margin: 0;
    padding: 0;
    text-align: justify;
    box-sizing: border-box;


}

/* Shared Style  */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
.logo h2{

    font-size: 45px;
    font-weight: 800;


}
.button{
    color: white;
    font-size: 20px;
    font-weight: 700;
    background-color: #FD6E0A;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    


}
.color-orange{
    color: #FD6E0A;

}



/* Main Style  */

header{
    background-color: #FFF8F3;
    padding-top: 50px;

}
nav{

    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* justify-content: space-between; with this command sections of flex takes maximum distance between them */
    align-items: center;

}
.nav-ul{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;

}
nav a{
    color: #474747;
    font-size: 20px;
    text-decoration: none;

}
