*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

/* Shared Style  */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
.logo h2{

    font-size: 45px;
    font-weight: 800;


}
.button{
    color: white;
    font-size: 20px;
    font-weight: 700;
    background-color: #FD6E0A;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;


}
#btn{
    margin: 50px auto;
    display: block;

}    
.color-orange{
    color: #FD6E0A;

}
.about-me{

    max-width: 827px;
    text-align: center;
    margin: 0 auto;

}

.about-me h2{

    font-size: 35px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 30px;

}

.about-me p{

    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;

}









/* Main Style  */

header{
    background-color: #FFF8F3;
    background: url("/images/developer.png") , url("/images/header_bg.png") , #FFF8F3;
    background-position: top left , bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;


}
nav{

    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* justify-content: space-between; with this command sections of flex takes maximum distance between them */
    align-items: center;

}
.nav-ul{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;

}
nav a{
    color: #474747;
    font-size: 20px;
    text-decoration: none;

}

#banner{
    margin: 046px 38px 0px 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */


}
#banner .banner-content{
    max-width: 585px;
    /* max-width: 356px; */
}

.banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;


}

.banner-content h1{

    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 20px;


}
.banner-content p{

    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;


}
#banner .banner-content .but{
    display: flex;
    
    gap: 30px;

}


#banner .banner-image img{

    vertical-align: middle;


}

#about{
    padding-top: 130px;


}

#about .about-container{

    /* width: 71%;
    max-width: 1140px; */
    margin: 0 auto;
    padding: 131px 156px;
    text-align: center;
    background-color: #FFF8F3;


}

#about .about-container .about-info{
    display: flex;
    justify-content: space-around;

}

.about-container .about-info p{

    font-size: 20px;
    color: #757575;
    line-height: 30px;
    display: inline;

}

.about-container .about-info h4{

    font-size: 20px;
    /* color: #757575; */
    font-weight: 700;
    line-height: 30px;

}


#skills{
    padding-top: 130px;


}

#skills .skill-container{

    width: 71%;
    max-width: 1140px;
    margin: 0 auto;


}


#skills .skill-container .skill-box{

    display: flex;
    gap: 24px;

}

.skill-box .skill-card{

    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px #0000002c;

}

.skill-card img{

    max-width: 44px;
    margin-bottom: 30px;

}

.skill-card h3{

    font-size: 20px;
    max-width: 174px;
    margin-bottom: 20px;

}

.skill-card p{

    max-width: 201px;
    line-height: 28px;
    font-size: 16px;

}

#resume, .footer-container{
    padding-top: 130px;
}

.resume-container{

    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0; 
    display: flex;
    gap: 24px;

}
.section-title{
    padding: 30px;

}
.resume-card{

    box-shadow: 0 6px 50px #0000002c;
    margin: 30px 0 30px 0;
    padding: 30px;
    
}
.footer-container{


    width: 71%;
    max-width: 1140px;
    /* background-color: #181818; */
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

}
.form-container input, .form-container textarea{

    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    display: block;

}


